{{> menu}}

<div class="ui container">
  <h2 class="ui header">List of the that we want:</h2>
  <table class="ui table custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each baskets}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{category}}</td>
        <td>{{quantity}}</td>
        <td><img src="{{picture}}"></td>
        <td>
          <a href="/basket/{{id}}" class="ui button">View/App Suppliers</a>
          <a href="/dashboard/deletebasket/{{id}}" class="ui button delbasket">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<style>
  table.custom-table {
    margin-bottom: 2rem;
  }

  table.custom-table thead th {
    background-color: #1b4d89;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
  }

  table.custom-table tbody td.field input {
    width: 100%;
  }

  table.custom-table tbody td.center.aligned {
    vertical-align: middle;
  }

  table.custom-table tbody tr:hover {
    background-color: #f9e45b;
  }

  table.custom-table tbody tr:hover td {
    color: #1b4d89;
  }

  table.custom-table tbody tr:hover .delbasket i {
    color: #f9e45b;
  }

  table.custom-table tbody tr:hover .delbasket:hover i {
    color: #1b4d89;
  }

  .ui.button {
    background-color: #f9e45b;
  }
</style>