<table class="ui fixed striped table">
  <thead>
    <tr>
      <th class="four wide">name</th>
      <th class="four wide">description</th>
      <th class="three wide">price</th>
      <th class="three wide">category</th>
      <th class="three wide">quantity</th>
      
      <th class="one wide"> </th>
      <th class="one wide"> </th>
    </tr>
  </thead>
<tbody>
    {{#each basket.products}}
    <form class = "ui stacked segment form" action="/basket/{{../basket.id}}/updateproduct/{{id}}" method="POST">
    <tr class="fields">
      
       <td class="field">
        <span class="ui input">
          <input type="text" name="name" required title = "Please include a valid Name" placeholder="price" value = "{{name}}">
        </span>
      </td>
      
      <td class="field">
        <span class="ui input">
         <input type="text" name="description" autofocus required title = "Please include a valid description" placeholder="description" value = "{{description}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="price" required title = "Please include a valid price" placeholder="price" value = "{{price}}">
        </span>
      </td>
      <td class="field">
        <span class="ui input">
          <input type="text" name="category" autofocus required title = "Please include a valid category" placeholder="category" value = "{{category}}">         
        </span>
      </td>
      
      <td class="field">
        <span class="ui input">
          <input type="text" name="quantity" autofocus required title = "Please include a valid quantity" placeholder="quantity" value = "{{quantity}}">         
        </span>
      </td>
    
      <td class="center aligned">
        <button class="ui submit icon button"><i class="ui pencil alternate icon"></i></button>
      </td>
      <td class="center aligned">
        <a href="/basket/{{../basket.id}}/deleteproduct/{{id}}" class="ui icon button delprod">
          <i class="ui trash icon"></i>
        </a>
      </td>
    </tr>
    </form> 
    {{/each}}
  </tbody>
</table>

